/**
 * Copyright 2016 Critech Limited (contact@critech-services.com)
 * License MIT (https://opensource.org/licenses/mit-license.php)
 */



/***************************************************************************************************************
                                                                                                   Box Layout */
 
.openerp .oe_application .sale_order_stats .oe_form_sheet {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}


.openerp .oe_application .sale_order_stats .oe_form_sheet > div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    margin: 0 10px;
}


/***************************************************************************************************************
                                                                                                 Visual style */

.openerp .oe_application .sale_order_stats {
    box-shadow: none;
    border-bottom-width: 0;
}

.openerp .oe_application .sale_order_stats .oe_form_sheet {
    min-height: inherit;
    border-bottom-width: 1px;
    margin-bottom: -15px;
}

.openerp .oe_application .sale_order_stats .oe_form_sheet div {
    text-align: center;
    font-size: 19px;
    padding: 10px 0;
    background: url('/web/static/src/img/form_sheetbg.png');
}

.openerp .oe_application .sale_order_stats .oe_form_sheet label {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #999;
}

.openerp .oe_application .sale_order_stats .oe_form_sheet span {
    display: inline;
    font-weight: bold;
}